@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Reset and base styles */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

a, a:visited, a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
}

img, svg, video {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  color: #6A859C;
  line-height: 1.8;
}

.logo {
  font-size: 25px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #69b9ff;
}

.link, .welcome__links .link-primary {
  font-size: 16px;
  letter-spacing: 0.13em;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 183px;
  height: 43px;
  padding: 10px 30px;
  transition: border-color 0.1s, background-color 0.1s;
}
.link:hover, .welcome__links .link-primary:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}
.link:active, .welcome__links .link-primary:active {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.5);
}

.header {
  padding: 18px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav a {
  font-size: 16px;
  color: #676770;
}
.header__nav a:hover {
  color: #0082f3;
}
.header__nav a:active {
  color: #0057A2;
}
.header__nav ul {
  display: flex;
}
.header__nav li + li {
  margin-left: 40px;
}

.welcome {
  color: #fff;
  min-height: 600px;
  height: 100vh;
  padding: 195px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282936;
  background-image: url("/images/welcome-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.welcome__title {
  font-size: 59px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  padding-bottom: 100px;
}
.welcome__links {
  text-align: center;
  text-transform: uppercase;
}
.welcome__links * + * {
  margin-left: 20px;
}
.welcome__links .link-primary {
  padding: 11px 30px;
  border: none;
  background: #69b9ff;
  width: 138px;
  height: 45px;
  transition: background-color 0.2s;
}
.welcome__links .link-primary:hover {
  background-color: #8AC9FF;
}
.welcome__links .link-primary:active {
  background-color: #1994FF;
}

/*# sourceMappingURL=style.css.map */
