@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.hide {
    display: none;
}

p {
    color: #6A859C;
    line-height: 1.8;
}

.common-section {
    padding: 80px 0;
    text-align: center;
}

.common-section--dark {
    background-color: #192024;
}

.common-section--dark * {
    color: #fff;
}


.logo {
    font-size: 25px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #69b9ff;
}



.link {

    font-size: 16px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #fff; 

    &, &:visited, &:hover, &:focus, &:active {
        color: #fff !important; 
    }

    
    // Rectangle
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 12px 30px;
    transition: border-color 0.1s, background-color 0.1s;

        &:hover {
            background-color: rgb(255, 255, 255, 0.2);
            border-color: rgba(255, 255, 255, 0.5);
        }

        &:active {
            background-color: rgba(172, 152, 152, 0.432);
            border-color: rgba(213, 187, 187, 0.5);
        }


}

// text and title in features and services
%section-title {
        font-size: 30px;
        letter-spacing: 0.17em;
        margin-bottom: 17px;
        text-transform: uppercase;
}

%section-text {
        font-size: 17px;
        letter-spacing: 0.18em;
        margin-bottom: 60px;
        text-transform: uppercase;
}


%section-desc {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

@mixin laptop {
    @media (max-width: #{$breakpoint-laptop}){
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$breakpoint-tablet}) {
        @content;
    }
}


@mixin mobile {
    @media (max-width: #{$breakpoint-mobile}){
        @content;
    }
}