@use "reset" as *;
@use "variables" as *;
@use "base" as *;

// navigation

.header {
    padding: 18px 0;
    
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: #fff;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__nav a {
        font-size: 16px;
        color: $color-title;

        &:hover {
             color: #0082f3;
        }

        &:active {
            color: #0057A2;
        }
    }

    &__nav ul {
        display: flex;
    }

    &__nav li + li {
        margin-left: 40px;
    }
}

// Welcome sectiomn

.welcome {
    color: #fff;
    min-height: 600px;
    height: 100vh;
    padding: 195px 0;


    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #282936;
    background-image: url("/images/welcome-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    &__title {
        font-size: 59px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        padding-bottom: 100px;
    }
    
    &__links {
        text-align: center;
        text-transform: uppercase;

        * + * {
            margin-left: 20px;
        }

        .link-primary {
            // tetx
            @extend .link;
            padding: 12px 30px;
            border: none;

            // background
            background: #69b9ff;
            transition: background-color 0.2s;

            &:hover {
                background-color: #8AC9FF;
            }

            &:active {
                background-color: #1994FF;
            }
        }
    }
    
}


// Features 

.features {
    padding: 80px 0;

    &__title {
        font-size: 30px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        text-align: center;
        color: $color-title;

        padding-bottom: 17px;
    }
    
    &__text {
        font-size: 17px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        text-align: center;
        color: $color-desc;

        padding-bottom: 60px;
    }
    
    &__list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .features__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        background: #fff;
        border: 1px solid #dcebf7;
        border-radius: 5px;
        

        width: 300px;
        height: 300px;
        &-img {
            height: 94px;
            width: 94px;
        }
        
        &-text {
            margin: 15px;
            line-height: 1.3;
            font-size: 20px;
            letter-spacing: 0.35em;
            text-transform: uppercase;
            text-align: center;
            color: $color-title;
        }
        
        &-desc {
            width: 268px;
            text-align: center;
            color: $color-p;
        }
    }

}


